<!DOCTYPE html>
<html>
 <head>
   <title>WebCampBackendNew</title>
 </head>
 
 <body>
   <p id="notice"></p>
   <p>
 　 <strong>Title:</strong>
 　 <%= @book.title %>
 　</p>
 　<p>
 　 <strong>Body:</strong>
 　 <%= @book.body %>
 　</p>
   <a>Edit</a>|
   <a>
    <%= link_to "Back","/books" %>
   </a>
 </body>
</html>