<!DOCTYPE html>
 <head>
   <title>WebCampBackendNew</title>
 </head>
 
 <body>
 　<p id="notice">Book was successfully created.</p>
 　<p>
 　 <strong>Title:</strong>
 　 <%= @book.title %>
 　</p>
 　<p>
 　 <strong>Body:</strong>
 　 <%= @book.body %>
 　</p>
   <p>Edit</p>
   "|"
   <p>Baack</p>
 </body>
 